{% extends "base.html" %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="row text-center">
                <h1 class="display-1 fw-bold text-light">Catchphrases!</h1>
            </div>
            <br>
            <div class="align-items-center justify-content-center">
                <div class="lead text-body-secondary">

                    <h3>Preparing the game</h3>
                    Ready for a fun-filled game of Catchphrases? Before you begin, gather a group of players, ideally
                    with an even number for a fair game. Divide the group into two teams, ensuring an equal number of
                    players on each team. You'll also need to play the game on a device that can be passed between players-
                    phones and tablets work great for this. Now, let's delve into the gameplay!

                    <br>
                    <br>

                    <h3>Gameplay</h3>
                    Each game is composed of multiple rounds. To start a round, select the desired decks and press
                    play. A timer will begin counting down, with each round's duration randomly set between 30 and 90
                    seconds. Keep an eye on the timer; it's a race against the clock! A word from the chosen category
                    will be displayed on the screen.

                    <br>
                    <br>

                    Your mission is to cleverly guide your teammates to guess the word without using the word itself.
                    You can make gestures, provide creative clues, and let your imagination soar! However, remember
                    these key rules:

                    <br>

                    <ul>
                        <li>Avoid rhyming with the word.</li>
                        <li>Refrain from giving away the first letter.</li>
                        <li>Don't use any part of the word in your clue (e.g., using 'shoe' for 'shoe horn').</li>
                    </ul>

                    If the opposing team catches you violating these rules, the round immediately ends, and they earn a
                    point. When your team successfully guesses the word, pass the game unit to a member of the opposing
                    team. It's their turn to press the next button and guide their teammates to guess their word or
                    phrase.
                    The round continues until the timer runs out and signals the end. But be cautious! If you're holding
                    the game unit when the timer runs out, your team loses the round, and the opposing team scores a
                    point. Stay focused and keep the excitement flowing throughout the game!

                    <br>
                    <br>

                    <h3>Conclusion</h3>
                    Enjoy playing Catchphrases and let the laughter and camaraderie fill the room as you outwit and
                    entertain each other with your clever clues and teamwork.
                </div>
            </div>
        </div>
    </div>

{% endblock %}
