{% extends "base.html" %}

{% block content %}
    <div class="row align-items-center text-center" style="height: 80vh; width: 100vw;">

        <div class="col">
            <button id="previousButton" class="btn btn-primary btn-lg" disabled>
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>

        <div class="col">
            <h2 class="display-1 fw-bold" id="current_phrase"></h2>

        </div>

        <div class="col">
            <button id="nextButton" class="btn btn-primary btn-lg">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            let timeLeft = {{ time }};
            let countdown;
            const phrases = {{ category.entries | tojson }};
            let current_index = -1;

            let audioContext = new (window.AudioContext || window.webkitAudioContext)();
            let timerSound = null;

            fetch(`{{ sound_url }}`)
                .then(response => response.arrayBuffer())
                .then(arrayBuffer => audioContext.decodeAudioData(arrayBuffer))
                .then(audioBuffer => {
                    timerSound = audioBuffer;
                });

            function showPhrase(index) {
                $("#current_phrase").text(phrases[index]);
                current_index = index;
                $("#previousButton").prop('disabled', index === 0);
                $("#nextButton").prop('disabled', index === phrases.length - 1);
            }

            showPhrase(0);

            $("#nextButton").click(() => {
                if (current_index < phrases.length - 1) {
                    showPhrase(current_index + 1);
                }
            });

            $("#previousButton").click(() => {
                if (current_index > 0) {
                    showPhrase(current_index - 1);
                }
            });

            countdown = setInterval(() => {
                timeLeft--;

                if (timerSound) {
                    let source = audioContext.createBufferSource();
                    source.buffer = timerSound;
                    source.playbackRate.value = 1 + ({{ time }} -timeLeft) / {{ time }};
                    source.connect(audioContext.destination);
                    source.start();
                }

                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    window.location.href = "/times_up";
                }
            }, 1000);
        });
    </script>
{% endblock %}
