{% extends "base.html" %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="card" style="min-width: 45vw;">
            <div class="card-body">
                <div class="card-header text-center" id="timer">
                    <b>{{ category.name }}</b>
                    <br>
                    {{ category.description }}
                </div>
                <div class="d-flex justify-content-between align-items-center" style="min-height: 25vh;">
                    <button id="previousButton" class="btn btn-primary btn-lg" disabled>
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <h2 class="display-1 fw-bold" id="current_phrase"></h2>
                    <button id="nextButton" class="btn btn-primary btn-lg">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div class="card-footer text-center" id="timer">
                    <span id="time">{{ time }}</span> second(s) remaining
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var timeLeft = {{ time }};
            var countdown;
            var phrases = {{ category.entries | tojson }};
            var current_index = -1;

            let audioContext = new (window.AudioContext || window.webkitAudioContext)();
            let timerSound = null;

            fetch('{{ sound_url }}')
                .then(response => response.arrayBuffer())
                .then(arrayBuffer => audioContext.decodeAudioData(arrayBuffer))
                .then(audioBuffer => {
                    timerSound = audioBuffer;
                });

            function showPhrase(index) {
                $("#current_phrase").text(phrases[index]);
                current_index = index;
                // Disable "Previous" button if this is the first phrase
                $("#previousButton").prop('disabled', index === 0);
                // Disable "Next" button if this is the last phrase
                $("#nextButton").prop('disabled', index === phrases.length - 1);
            }

            // Show the first phrase initially
            showPhrase(0);

            $("#nextButton").click(function () {
                if (current_index < phrases.length - 1) {
                    showPhrase(current_index + 1);
                }
            });

            $("#previousButton").click(function () {
                if (current_index > 0) {
                    showPhrase(current_index - 1);
                }
            });

            countdown = setInterval(function () {
                timeLeft--;

                if (timerSound) {
                    let source = audioContext.createBufferSource();
                    source.buffer = timerSound;
                    source.playbackRate.value = 1 + ({{ time }} -timeLeft) / {{ time }};  // Speed up as time decreases
                    source.connect(audioContext.destination);
                    source.start();
                }

                document.getElementById('time').textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    window.location.href = "/times_up";
                }
            }, 1000);
        });
    </script>
{% endblock %}
