{% extends "base.html" %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <h2 id="current_phrase"></h2>

    <div id="timer">
        Time remaining: <span id="time">60</span> seconds
    </div>

    <button id="previousButton" class="btn btn-primary" disabled>Previous</button>
    <button id="nextButton" class="btn btn-primary">Next</button>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var timeLeft = 60;
            var countdown;
            var phrases = {{ category.entries | tojson }};
            var current_index = -1;

            let audioContext = new (window.AudioContext || window.webkitAudioContext)();
            let timerSound = null;

            fetch('{{ sound_url }}')
                .then(response => response.arrayBuffer())
                .then(arrayBuffer => audioContext.decodeAudioData(arrayBuffer))
                .then(audioBuffer => {
                    timerSound = audioBuffer;
                });

            function showPhrase(index) {
                $("#current_phrase").text(phrases[index]);
                current_index = index;
                // Disable "Previous" button if this is the first phrase
                $("#previousButton").prop('disabled', index === 0);
                // Disable "Next" button if this is the last phrase
                $("#nextButton").prop('disabled', index === phrases.length - 1);
            }

            // Show the first phrase initially
            showPhrase(0);

            $("#nextButton").click(function() {
                if (current_index < phrases.length - 1) {
                    showPhrase(current_index + 1);
                }
            });

            $("#previousButton").click(function() {
                if (current_index > 0) {
                    showPhrase(current_index - 1);
                }
            });

            countdown = setInterval(function () {
                timeLeft--;

                if (timerSound) {
                    let source = audioContext.createBufferSource();
                    source.buffer = timerSound;
                    source.playbackRate.value = 1 + (60 - timeLeft) / 60;  // Speed up as time decreases
                    source.connect(audioContext.destination);
                    source.start();
                }

                document.getElementById('time').textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    window.location.href = "/times_up";
                }
            }, 1000);
        });
    </script>
{% endblock %}
