{% extends "base.html" %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center" style="height: 75vh;">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="row text-center">
                <h1 class="display-1 fw-bold text-danger">Time's Up!</h1>
            </div>
            <br>
            <div class="align-items-center justify-content-center">
                <div class="lead text-body-secondary text-center">
                    Time is up and the round is over! The team that was not holding the device when the timer buzzed
                    earns a point.
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('categories') }}" class="btn btn-primary me-2">Play Again</a>
                <a href="{{ url_for('home') }}" class="btn btn-secondary me-2">Home</a>
                <a href="https://github.com/coopersully/catchphrases/issues" class="btn btn-secondary me-2">Report an Issue</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let audioContext = new (window.AudioContext || window.webkitAudioContext)();
            let timerSound = null;

            fetch('{{ sound_url }}')
                .then(response => response.arrayBuffer())
                .then(arrayBuffer => audioContext.decodeAudioData(arrayBuffer))
                .then(audioBuffer => {
                    timerSound = audioBuffer;
                    playTimerSound();
                });

            function playTimerSound() {
                if (timerSound) {
                    let source = audioContext.createBufferSource();
                    source.buffer = timerSound;
                    source.connect(audioContext.destination);
                    source.start();
                }
            }

            playTimerSound();
        });
    </script>
{% endblock %}